<template>
    <lightning-layout>
        <lightning-layout-item size="8" flexibility="auto">
            <lightning-card
                title="Update Opportunity Datatable Settings"
                icon-name="action:apex">

                <lightning-layout>
                    <lightning-layout-item size="1" flexibility="auto"></lightning-layout-item>
                    <lightning-layout-item size="10" flexibility="auto">
    
                    <!-- Dual Listbox for setting new metadata record -->
                    <template if:true={fieldNames}>
                        <lightning-dual-listbox name="languages"
                        label="Set Query Fields"
                        source-label="Available"
                        selected-label="Selected"
                        field-level-help="Select which fields will return when querying data for the datatable"
                        options={fieldNames}
                        value={selectedFields}
                        onchange={handleChange}></lightning-dual-listbox>

                        <!-- Where Clause Input -->
                        <template if:true={whereClauses}>
                            <div class="slds-m-top_medium slds-m-bottom_x-large">
                                <div class="slds-p-around_medium lgc-bg">
                                    <lightning-input type="text" label="Enter where clauses" value={whereClauses}></lightning-input>
                                </div>
                            </div>
                        </template>

    
                        <!-- Save button -->
                        <div class="slds-p-top_x-large slds-align_absolute-center">
                            <lightning-button variant="brand"
                            label="Save Changes"
                            title="Save Changes"
                            onclick={handleSaveChanges}
                            class="slds-m-left_x-small"></lightning-button>
                        </div>
                    </template>
                    </lightning-layout-item>
                    <lightning-layout-item size="1" flexibility="auto"></lightning-layout-item>

                </lightning-layout>
            </lightning-card>
        </lightning-layout-item>
        
    </lightning-layout>
</template>