<template>
    <lightning-card title="Conditional Styled Datatable" class="table-container">
        <!-- <p>Howdy</p> -->
        <template if:true={opportunityData}>
            <c-custom-datatable
                data={opportunityData}
                columns={columnData}
                sorted-by={sortedBy}
                sorted-direction={sortedDirection}
                onsort={updateColumnSorting}
                key-field="Id"
                hide-checkbox-column>
            </c-custom-datatable>

        </template>
    </lightning-card>
</template>